{% extends 'base2.jinja2' %}

{% block head %}


<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body{
    padding: 0 125px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-top: 10px;
}
.main{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10%;
}
.mainText{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
.subText{
    font-size: 1.3em;
    text-transform: lowercase;
    text-align: center;
}
.fName, .lName, .email, .password, .password2, .ListName ,.groceryList{
    font-size: 1.1em;
    outline: none;
    border: none;
    border: 1px solid #292929;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}
.row1, .row2, .row3, .row4, .row5{
    max-width: 300px;
    margin: 0 auto;
}
.row1{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.email, .password, .ListName{
    width: 100%;
}
.row3{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.row2{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.other{
    display: flex;
    justify-content: center;
}

.row4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.row5{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.heroButton{
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 4px 12px;
    text-transform: lowercase;
    display: inline-block;
    margin-top: 10px;
}
.signupButton{
    background-color: #D2EA9B;
}
.loginButton{
    border: none;
    background: none;
    color: #89966A;
    cursor: pointer;
}
.footer{
    display: none;
}
</style>
{% endblock %}

<body>
{% block content %}
    <div class="main" >
        <form class="form-signin" method="POST">
            <h1 class="mainText">Create a Grocery Group!</h1>
            <p class="subText">Get Ready to Revolutionize Shopping</p>
            <div class="row1">
                <input  type="text" id="ListName" name="ListName" class="ListName" placeholder="List Name" required autofocus>

            </div>
            <div class="row2">
                <a href="{{ url_for('listCreate') }}"><button class="heroButton signupButton">Create</button></a>
            </div>
        </form>
        <form class="form-create" method="POST">
            <div class="row3">
                 <p class="other">Have a group ID? Enter it below</p>
            </div>
            <div class="row4">
                <input  type="text" id="groceryList" name="groceryList" class="groceryList" placeholder="Grocery List" required autofocus>
            </div>
            <div class="row5">
                <a href="{{ url_for('addUsertoList') }}"><button class="heroButton signupButton">Join</button></a>
            </div>
        </form>
    </div>
{% endblock %}
</body>