{% extends 'base2.jinja2' %}

{% block head %}


<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body{
    padding: 0 125px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-top: 10px;
}
.heroButton{
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 4px 12px;
    text-transform: lowercase;
    display: inline-block;
}
.createButton{
    background-color: #D2EA9B;
    margin-right: 30px;
}
.joinButton:hover{
    background-color: #D2EA9B;
}
.nogroupMain{
    height: 100vh;
    position: absolute;
    top: 0;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../static/icon-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.nogroupText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nogroupMessage{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.nogroupMain .row1{
    margin-bottom: 50px;
}
</style>
{% endblock %}

<body>
{% block content %}

    <p>Invite a friend! Send them this ID: {{ list_data['list_id'] }}</p>
     <form class="form-email" method="POST">
            <div class="row4">
                <input  type="email" id="emailFriend" name="emailFriend" class="emailFriend" placeholder="emailFriend" required autofocus>
            </div>
            <div class="row5">
                <a href="{{ url_for('listCreate') }}"><button class="heroButton signupButton">Invite</button></a>
            </div>
        </form>
    <p>Group Name: {{ list_data['GroceryName'] }}</p>
    {% if list_data['picked'] == False %}
        <p>Pickup in Progress: No</p>
        <p>User Picking Up: {{ list_data['pickerUser'] }}</p>
    {% else %}
        <p>Pickup in Progress: {{ list_data['pickerUser'] }}</p>

    {% endif %}

    {% if list_data['picked'] == False %}
        <a href="{{ url_for('volunteer') }}"><button class="heroButton signupButton">Pickup</button></a>
    {% endif %}
     {% if list_data['picked'] == True and  userdata['firstName'] == list_data['pickerUser'] %}
        <a href="{{ url_for('volunteerUndo') }}"><button class="heroButton signupButton">Cancel Pickup</button></a>
    {% endif %}

    {% if userdata['firstName'] == list_data['pickerUser'] %}
        <a href="{{ url_for('gotItems') }}"><button class="heroButton signupButton">All Payments Complete</button></a>
    {% endif %}
    {% if userdata['firstName'] != list_data['pickerUser'] and list_data['picked'] == True %}
        <a href="{{ url_for('gotItems') }}"><button class="heroButton signupButton">Delivery Recieved</button></a>
    {% endif %}


    <p>Users in this list: </p>
    <ul>
        {% for x in range(total) %}
        <li>{{ names_data[x] }}</li>
        {% endfor %}
    </ul>

    <form class="form-item" method="POST">
            <div class="row3">
                 <p class="other">Add an item to the list</p>
            </div>
            <div class="row4">
                <input  type="text" id="ItemName" name="ItemName" class="ItemName" placeholder="Item" required autofocus>
                <input  type="text" id="Quantity" name="Quantity" class="Quantity" placeholder="Quantity" required autofocus>
                <input  type="text" id="Comments" name="Comments" class="Comments" placeholder="Comments" required autofocus>
            </div>
            <div class="row5">
                <a href="{{ url_for('listCreate') }}"><button class="heroButton signupButton">Add Item</button></a>
            </div>
        </form>

 {% if size != 0 %}
     {% for x in range(total) %}
        <p>{{ names_data[x] }}</p>

        {% for y in range(size) %}
            <ul>
                 {% if allItems[y].userName == names_data[x] %}
                    <li>{{ allItems[y].itemName }}</li>
                    <li>{{ allItems[y].quantity }}</li>
                    <li>{{ allItems[y].comment }}</li>
                    {% if userdata['firstName'] == allItems[y].userName %}
                        <a href="{{ url_for('removeFromList', itemid=allItems[y].id) }}"><button class="heroButton signupButton">Delete</button></a>
                    {% endif %}
                {% endif %}
            </ul>
        {% endfor %}
     {% endfor %}
 {% endif %}
{% endblock %}
</body>
