{% extends 'base2.jinja2' %}

{% block head %}


<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body{
    padding: 0 125px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-top: 10px;
}
.heroButton{
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 4px 12px;
    text-transform: lowercase;
    display: inline-block;
}
.createButton{
    background-color: #D2EA9B;
    margin-right: 30px;
}
.joinButton:hover{
    background-color: #D2EA9B;
}
.nogroupMain{
    height: 100vh;
    position: absolute;
    top: 0;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../static/icon-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.nogroupText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nogroupMessage{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.nogroupMain .row1{
    margin-bottom: 50px;
}
.main{
}
.inviteContainer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.inviteContainer h5{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.inviteLinkText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inviteLinkBox{
    border: 1px solid red;
    border: 1px solid lightgrey;
    padding: 4px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.inviteLink {
    margin-right: 10px;
    user-select: all;
    cursor: pointer;
}
.copyLinkImage{
    width: 15px;
}
.inviteContainer .row3{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: center;
}
.inviteContainer .row4{
}
.inviteContainer .row4 p{
    font-size: 0.9em;
}
.inviteContainer .row5{
    display: flex;
    justify-content: center;
    margin-top: -5px;
}
.inviteContainer .email{
    font-size: 0.9em;
    outline: none;
    border: none;
    border: 1px solid #292929;
    border-radius: 8px;
    padding: 3px 6px 3px 6px;
    margin-right: 20px;
}
.inviteContainer .heroButton{
    background-color: #D2EA9B;
}
.inviteContainer .heroButton:hover{
    /*background-color: #18455A;
    color: white;*/
}
.listHead{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.headLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.groceryListName{
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
}
.listStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pickupUser, .pickupProgress{
    padding: 2px 8px;
    text-transform: lowercase;
    margin-bottom: 0;
}
.pickupUser{
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background-color: #DEDEDE;
}
.pickupProgress.noProgress{
    border-radius: 10px;
    border: 1px solid #FFD3D3;
    background-color: #FFD3D3;
}
.pickupProgress.inProgress{
    border-radius: 10px;
    border: 1px solid #D8FFD3;
    background-color: #D8FFD3;
}
.headButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headButtons a{
}
.pickupButton{
    padding: 2px 8px;
    text-transform: lowercase;
    margin-bottom: 0;
    background: none;
    border-radius: 10px;
    border: 1px solid #C4D9FF;
    background-color: #C4D9FF;
}
.pickupButton.cancelPickup{
    border: 1px solid #FFD3D3;
    background-color: #FFD3D3;
    margin-right: 15px;
}
.paymentButton, .deliveryButton{
    padding: 2px 8px;
    text-transform: lowercase;
    margin-bottom: 0;
    background: none;
    border-radius: 10px;
    border: 1px solid #C4D9FF;
    background-color: #C4D9FF;
}
.listBody{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.listTabs{
    width: 80%;
}
.addList{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemName, .itemQuantity, .itemComments{
    font-size: 1em;
    outline: none;
    border: none;
    border: 1px solid #292929;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    width: 100%;
}
.addList .row1 p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}
.addList .row2, .row3, .row4{
    margin-bottom: 10px;
}
.addList .row5{
    display: flex;
    justify-content: center;
}
.itemAddButton{
    margin-top: 10px;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 5px;
    background: none;
    background-color: #D2EA9B;
}
.accordianSection{
}
.accordianSection p{
    margin-bottom: 0;
}
.accordianHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F8F8F8;
}
.accordianName{
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 500;
}
.accordianArrow{
    padding: 0 10px;
    width: 40px;
}
.accordianContents{
    padding: 0 10px;
    max-height: auto;
    opacity: 1;
}
.hiddenContent{
    border: 1px solid red;
    max-height: 1px;
    opacity: 0;
    overflow: hidden;
}
.accordianContents ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.groceryItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.itemLeft{
    display: flex;
    flex-direction: column;
}
.itemRow1{
    display: flex;
}
.groceryName{
    font-size: 1.1em;
    margin-right: 10px;
}
.groceryQuantity{
    font-size: 1.1em;
}
.groceryComment{
    color: #777777;
    font-style: italic;
    font-size: 0.9em;
}
.itemRight{
}
.itemLeft{
}
.deleteButton{
    border-radius: 10px;
    background: none;
    border: none;
    text-transform: lowercase;
    background-color: #FFD3D3;
    padding: 4px 8px;
}
</style>
{% endblock %}

<body>
{% block content %}

    <section class="main">

        <div class="inviteContainer">

            <div class="row1">
                <h5>Invite a friend!</h5>
            </div>
            <div class="row2">
                <p class="inviteLinkText">Send them this ID: <span class=" inviteLinkBox"><span class="inviteLink">{{ list_data['list_id'] }}</span> <img src="../static/copy-icon.svg" class="copyLinkImage"/></span></p>
            </div>
            <div class="row3">
                <form method="POST">
                    <div class="row4">
                        <p>Want to send them an invitation email instead? Enter their email here: </p>
                    </div>
                    <div class="row5">
                        <input  type="email" id="emailFriend" name="emailFriend" class="emailFriend email" placeholder="Email Friend" required autofocus>
                        <a href="{{ url_for('listCreate') }}"><button class="heroButton signupButton">Invite</button></a>
                    </div>
                </form>
            </div>
        </div>

        <section class="groceryList">

            <div class="listHead">
                <div class="headLeft">
                    <h3 class="groceryListName">{{ list_data['GroceryName'] }}</h3>
                    {% if list_data['picked'] == False %}
                        <div class="listStatus">
                            <p class="pickupUser" >Pickup User: {{ list_data['pickerUser'] }}</p>
                            <p class="pickupProgress noProgress">Pickup not in progress.</p>
                        </div>
                    {% else %}
                        <div class="listStatus">
                            <p class="pickupUser" >Pickup User: {{ list_data['pickerUser'] }}</p>
                            <p class="pickupProgress inProgress">Pickup in Progress.</p>
                       </div>
                    {% endif %}
                </div>
                <div class="headButtons">
                    {% if list_data['picked'] == False %}
                        <a href="{{ url_for('volunteer') }}"><button class="pickupButton">Volunteer for Pickup</button></a>
                    {% endif %}

                    {% if list_data['picked'] == True and  userdata['firstName'] == list_data['pickerUser'] %}
                        <a href="{{ url_for('volunteerUndo') }}"><button class="pickupButton cancelPickup">Cancel Pickup</button></a>
                    {% endif %}

                    {% if userdata['firstName'] == list_data['pickerUser'] %}
                        <a href="{{ url_for('gotItems') }}"><button class="paymentButton">All Payments Complete</button></a>
                    {% endif %}

                    {% if userdata['firstName'] != list_data['pickerUser'] and list_data['picked'] == True %}
                        <a href="{{ url_for('gotItems') }}"><button class="deliveryButton">Delivery Recieved</button></a>
                    {% endif %}
                </div>
            </div>

            <div class="listBody">

                <div class="listTabs">

                    {% if size != 0 %}
                        {% for x in range(total) %}
                            <div class="accordianSection">
                                <div class="accordianHead">
                                    <p class="accordianName">{{ names_data[x] }}</p>
                                    <img class="accordianArrow" src="../static/arrow.svg"/>
                                </div>

                                <div class="accordianContents hiddenContent">
                                    <ul>
                                        {% for y in range(size) %}
                                            {% if allItems[y].userName == names_data[x] %}

                                                <li class="groceryItem">
                                                    <div class="itemLeft">
                                                        <div class="itemRow1">
                                                            <p class="groceryName">{{ allItems[y].itemName }},</p>
                                                            <p class="groceryQuantity">quantity: {{ allItems[y].quantity }}</p>
                                                        </div>
                                                        <div class="itemRow2">
                                                            <p class="groceryComment">{{ allItems[y].comment }}</p>
                                                        </div>
                                                    </div>
                                                    {% if userdata['firstName'] == allItems[y].userName %}
                                                        <a href="{{ url_for('removeFromList', itemid=allItems[y].id) }}"><button class="deleteButton">Delete Item</button></a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="addList">
                    <form class="" method="POST">
                        <div class="row1">
                            <p>Add an item to the list</p>
                        </div>
                        <div class="row2">
                           <input  type="text" id="ItemName" name="ItemName" class="ItemName itemName" placeholder="Item" required autofocus>
                        </div>
                        <div class="row3">
                            <input  type="text" id="Quantity" name="Quantity" class="Quantity itemQuantity" placeholder="Quantity" required autofocus>
                        </div>
                        <div class="row4">
                            <input  type="text" id="Comments" name="Comments" class="Comments itemComments" placeholder="Comments" required autofocus>
                        </div>
                        <div class="row5">
                            <a href="{{ url_for('listCreate') }}"><button class="itemAddButton">Add Item</button></a>
                        </div>
                    </form>
                </div>


            </div>


        </section>

    </section>


   <script>
        var accordianHeads = document.querySelectorAll(".accordianHead");
        accordianHeads.forEach(item => {
            item.addEventListener('click', function(event) {
                var targetElement = event.target;
                console.log(targetElement);
                if (targetElement.classList.contains("accordianHead")){
                    targetElement.nextElementSibling.classList.toggle("hiddenContent");
                }
                else if (targetElement.classList.contains("accordianName")){
                    targetElement.parentElement.nextElementSibling.classList.toggle("hiddenContent");
                }
                else if (targetElement.classList.contains("accordianArrow")){
                    targetElement.parentElement.nextElementSibling.classList.toggle("hiddenContent");
                }
            });
        })
   </script>

{% endblock %}
</body>