{% extends 'base2.jinja2' %}

{% block head %}


<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body{
    padding: 0 125px;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-top: 10px;
}
.main{
    height: 100vh;
    position: absolute;
    top: 0;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-image: url("../static/icon-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.profileBigImage{
    border: 1px solid lightgrey;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-image: url("../static/man_1.svg");
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.name{
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
}
.email, .phoneNumber{
    font-size: 1.1em;
}
.heroButton{
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 4px 12px;
    text-transform: lowercase;
    display: inline-block;
    margin-top: 10px;
    color: black;
    background-color: #D2EA9B;
}
.heroButton:hover{
    color: black;
}
</style>
{% endblock %}

<body>
{% block content %}

<section class="main">

    <div class="profileBigImage">

    </div>
    <p class="name">{{ userdata['firstName'] }} {{ userdata['lastName'] }} </p>
    <p class="email">{{ userdata['email'] }}</p>
    <p class="phoneNumber">{{ userdata['phoneNumber'] }}</p>
    <a href="" class="heroButton loginButton">Edit Profile</a>

</section>







{% endblock %}
</body>